.row, .container {
  clear: both;
  zoom: 1; }
  .row:before, .container:before, .row:after, .container:after {
    content: "";
    display: table; }
  .row:after, .container:after {
    clear: both; }

/* Grid system*/
/*== Media queries breakpoints*/
/**/
/*## Define the breakpoints at which your layout will change, adapting to different screen sizes.*/
/* Extra small screen / phone*/
/*** Deprecated `$screen-xs` as of v3.0.1*/
/* $screen-xs:                  480px !default;*/
/*** Deprecated `$screen-xs-min` as of v3.2.0*/
/*** Deprecated `$screen-phone` as of v3.0.1*/
/* Small screen / tablet*/
/*** Deprecated `$screen-sm` as of v3.0.1*/
/* $screen-sm:                  768px !default;*/
/*** Deprecated `$screen-tablet` as of v3.0.1*/
/* Medium screen / desktop*/
/*** Deprecated `$screen-md` as of v3.0.1*/
/* $screen-md:                  992px !default;*/
/*** Deprecated `$screen-desktop` as of v3.0.1*/
/* Large screen / wide desktop*/
/*** Deprecated `$screen-lg` as of v3.0.1*/
/* $screen-lg:                  1400px !default;*/
/*** Deprecated `$screen-lg-desktop` as of v3.0.1*/
/* So media queries don't overlap when required, provide a maximum*/
/*== Grid system*/
/**/
/*## Define your custom responsive grid.*/
/*** Number of columns in the grid.*/
/* $grid-columns:              12 !default;*/
/*** Padding between columns. Gets divided in half for the left and right.*/
/* $grid-gutter-width:         30px !default;*/
/* Navbar collapse*/
/*** Point at which the navbar becomes uncollapsed.*/
/*** Point at which the navbar begins collapsing.*/
/*== Container sizes*/
/**/
/*## Define the maximum width of `.container` for different screen sizes.*/
/* Small screen / tablet*/
/*** For `$screen-sm-min` and up.*/
/* Medium screen / desktop*/
/*** For `$screen-md-min` and up.*/
/* Large screen / wide desktop*/
/*** For `$screen-lg-min` and up.*/
/* Centered container element*/
/* Creates a wrapper for a series of columns*/
/* Generate the extra small columns*/
/* Generate the small columns*/
/* Generate the medium columns*/
/* Generate the large columns*/
.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row > div {
    box-sizing: border-box; }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row, .container {
  clear: both;
  zoom: 1; }
  .row:before, .container:before, .row:after, .container:after {
    content: "";
    display: table; }
  .row:after, .container:after {
    clear: both; }

img {
  max-width: 100%; }

.auo-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 15em;
  height: 100%;
  background: #04b497;
  background: linear-gradient(0deg, #06ceac 0%, #004d91 30%);
  padding: 5em 1em 1em 1em;
  color: #fff; }
  .auo-nav .scrollArea {
    position: absolute;
    padding: 5em 0.5em 8em;
    width: calc(100% - 1em);
    left: 0%;
    top: 0%;
    bottom: 5%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0); }
  .auo-nav h3 {
    opacity: 0.5;
    margin: 0 0 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0.75em;
    font-size: 0.875rem; }
    .auo-nav h3:first-child {
      border: none; }
  .auo-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1em; }
    .auo-nav ul li a {
      display: block;
      color: #ddd;
      text-decoration: none;
      padding: 0.35em;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      justify-content: flex-start;
      position: relative;
      padding-right: 1.5em; }
      .auo-nav ul li a:hover, .auo-nav ul li a:focus {
        color: #fff;
        cursor: pointer; }
        .auo-nav ul li a:hover img, .auo-nav ul li a:focus img {
          opacity: 1; }
      .auo-nav ul li a.hasChild:after {
        position: absolute;
        content: '';
        width: 0.3em;
        height: 0.3em;
        border: 2px solid #fff;
        border-left: none;
        border-top: none;
        top: 0.8em;
        right: 0.45em;
        transform: rotate(45deg); }
      .auo-nav ul li a.hasChild.open:after {
        top: 1em;
        transform: rotate(-135deg); }
      .auo-nav ul li a .new {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        max-width: 100px;
        background-color: #00c489;
        border-radius: 0.25em;
        padding: 0 0.5em;
        line-height: 1.5em;
        color: #fff;
        text-align: center;
        margin: 0.25em 0 0 auto;
        font-style: normal;
        font-size: 0.75em; }
      .auo-nav ul li a img {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 1em;
        filter: invert(100%);
        height: 1.2em;
        margin: 0.1em 0.5em 0 0;
        opacity: 0.75; }
    .auo-nav ul ul {
      padding-left: 1.75em;
      position: relative; }
      .auo-nav ul ul:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        left: 0.75em;
        top: 0;
        border-left: 1px solid #fff; }
/*# sourceMappingURL=auo-nav.css.map */